# Airflow
AIRFLOW_UID=50000
# Gere com: python -c "import base64, os; print(base64.urlsafe_b64encode(os.urandom(32)).decode())"
AIRFLOW_FERNET_KEY=sua_chave_fernet_aqui

# PostgreSQL (Silver/Gold)
POSTGRES_USER=datatrack
POSTGRES_PASSWORD=datatrack_pass
POSTGRES_DB=datatrack_db

# MinIO (Bronze)
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=adminpassword

# APIs Externas
ADZUNA_APP_ID=seu_id_aqui
ADZUNA_APP_KEY=sua_chave_aqui
JOOBLE_API_KEY=sua_chave_jooble_aqui

