# Python
__pycache__/
*.pyc
.env
venv/
.venv/

# Airflow
airflow.cfg
logs/
airflow.db
webserver_config.py

# Data / MinIO
data/

# dbt
target/
dbt_packages/
dbt-env/

# IDE
.gemini/
.idea/
.vscode/

# Streamlit secrets e cache
*secrets.toml
.streamlit_cache/

# Testes
.pytest_cache/
htmlcov/
.coverage

# OS
*.db
Thumbs.db
.DS_Store
